---
layout: default
---
{% include navbar2.html %}

<section id="intro" class="white-text">
  <div class="vertical-align-m">
    <div class="container">
      <div class="col-sm-7">
        <h1>Festival Antigua 10x</h1>
        <p>17, 18 y 19 de Noviembre, Antigua, Guatemala</p>
        <p>Intercambia ideas y prácticas innovadoras para mejorar tu organización de una manera sostenible.</p>
      </div>
    </div>
  </div>

  <a href="#about" data-scroll class="mouse-scroll hidden-xs">
    <div class="mouse-icon">
      <div class="mouse"><div class="wheel"></div></div>
      <div><span class="unu"></span> <span class="doi"></span> <span class="trei"></span> </div>
    </div>
  </a>
</section>

<section id="about">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="magenta center">17, 18 y 19 de Noviembre, 2016</h2>
      <p>Acompañanos a dos días de conferencias, talleres interactivos, discusiones moderadas, música y arte.  </p>
      <p>ANTIGUA10X es un festival que acerca a
        emprendedores, pensadores y propulsores de cambio de todo el mundo;
        en otras palabras: personas que viven para convertir un impacto 10X en una realidad.
        ¿El propósito? Crear soluciones sostenibles con el fin de resolver algunos
        de los desafíos más grandes de la región.
      </p>
      <div class="center">
      <a href="https://tickets.antigua10x.com/?locale=es"
      class="button button-primary mt2" target="_blank">Compra tu entrada</a>
      </div>
    </div>
  </div>
</section>

<section id="event" class="bg-orange white-text">
  <div class="container center">
    <div class="row">
      <div class="col-sm-4">
        <img src="img/brain.png" alt="" class="icon">
        <h3>Inspírate</h3>
        <p>La primer parte de la conferencia consiste de una serie de "lighting talks" por innovadores en technologia, educación, negocios y gobierno.
         Compartirán ideas que han implementado para maximizar resultados en sus respectivas áreas.
       </p>
      </div>
      <div class="col-sm-4">
        <img src="img/conversation.png" alt="" class="icon">
        <h3>Discute</h3>
        <p>Indaga en las ideas presentadas por medio de discusiones moderadas.
          Descubre los secretos para implementar estas estrategias.
          La conversación es abierta entre los conferencistas, el público y el moderador.</p>
      </div>
      <div class="col-sm-4">
        <img src="img/tap.png" alt="" class="icon">
        <h3>Haz</h3>
        <p>Finalmente, pon en práctica lo que has aprendido por medio de workshops interactivos.
          3 empresas centroamericanas seran selecionadas por medio del Desafío Antigua10X para ser
          protagonistas de los workshops.</p>
      </div>
    </div>
  </div>
</section>

{% include horario.html %}

<section id="speakers" class="bg-grey">
  <div class="container center">
    <h2 class="orange">Panelistas</h2>
    <p class="mb2">Conoce a nuestros "Rockstars"</p>
    {% include speakers.html %}
  </div>
</section>

{% include mapa.html %}
{% include sponsors2.html %}



<section class="center bg-grey">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h2>No te pierdas la opportunidad de experimentar el cambio.</h2>
      <a href="https://tickets.antigua10x.com/?locale=es"
      class="button button-primary mt2" target="_blank">Compra tu entrada</a>
    </div>
  </div>
</section>
