---
layout: default
---

{% include navbar.html %}

<section id="intro" class="white-text">
  <div class="vertical-align-m">
    <div class="container">
      <div class="col-sm-7">
        <h1>Antigua 10x Festival</h1>
        <p>November 18-19, Antigua, Guatemala</p>
        <p>Exchange leapfrogging ideas and practices to transform communities in a sustainable way.</p>
      </div>
    </div>
  </div>

  <a href="#about" data-scroll class="mouse-scroll hidden-xs">
    <div class="mouse-icon">
      <div class="mouse"><div class="wheel"></div></div>
      <div><span class="unu"></span> <span class="doi"></span> <span class="trei"></span> </div>
    </div>
  </a>
</section>

<section id="about">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="magenta center">November 18-19, 2016</h2>
      <p>Antigua10X brings together leaders, thinkers, change-makers, advocates
        and entrepreneurs who live to make 10X impact a reality.
        Three areas of impact will be explored: Learning, Community and Business.
      <p>Join the Antigua 10X Challenge, and two days of festivities and learning,
        to help create organizations for exceptional impact in Central America in 2017
        and beyond. </p>
      </p>
      <div class="center">
      <a href="https://www.eventbrite.com/e/antigua-10x-festival-tickets-26404332068"
      class="button button-primary mt2" target="_blank">Get Tickets Now</a>
      </div>
    </div>
  </div>
</section>

<section id="event" class="bg-orange white-text">
  <div class="container center">
    <div class="row">
      <div class="col-sm-4">
        <img src="img/brain.png" alt="" class="icon">
        <h3>Think</h3>
        <p>The first part of the conference consists of a series of lightning talks given by
        innovators in tech, education and business. They will be sharing ideas that they've implemented
        to maximize results in their areas.  </p>
      </div>
      <div class="col-sm-4">
        <img src="img/conversation.png" alt="" class="icon">
        <h3>Discuss</h3>
        <p>Go deeper into the ideas presented by the speakers
          through a series of panel discussions. Discover the secrets of implementing these strategies.
          The conversation is free-flowing among speakers, participants and the moderator. </p>
      </div>
      <div class="col-sm-4">
        <img src="img/tap.png" alt="" class="icon">
        <h3>Do</h3>
        <p>Finally, put into practice what you've learned through hands on workshops lead by our speakers.
        3 companies will be selected from our <a href="http://challenge.antigua10x.com" target="_blank"><strong>Antigua10x Challenge</strong></a>
          to be the case study for the workshops.</p>
      </div>
    </div>
  </div>
</section>


{% include schedule.html %}


<section id="challenge" class="bg-magenta white-text">
  <div class="container center">
    <h2>Challenge</h2>
    <div class="col-md-8 col-md-offset-2">
      <p>
        ANTIGUA10X CHALLENGE will create three potent organizations for 10x impact
        across Central America in 2017. Applications are now closed.
      </p>
      <p>
        Ten finalists in early October will be narrowed down
        to the top three finalists for presentation on November 18, 2016.
      </p>
   </div>
  </div>
</section>

<section id="speakers" class="bg-grey">
  <div class="container center">
    <h2 class="orange">Speakers</h2>
    <p class="mb2">Meet our rockstars.</p>
    {% include speakers.html %}
  </div>
</section>


<section id="partners" class="center bg-white">
  <div class="container">
    <h2 class="magenta">Partners</h2>
    <div class="col-sm-3">
      <a href="http://www.antiguais.org/" target="_blank">
        <img src="img/ais-logo.jpg" class="img-responsive center-block">
      </a>
    </div>
    <div class="col-sm-6">
      <a href="http://www.casadelarcoantigua.com/" target="_blank">
        <img src="img/casa-arco.jpg" class="img-responsive center-block mt1">
      </a>
    </div>
    <div class="col-sm-offset-3">
      <a href="http://www.guatemala.com/" target="_blank">
        <img src="img/guatemala-logo.jpg" class="img-responsive center-block mt1">
      </a>
    </div>
  </div>

  <hr class="m3">

  <div class="container">
    <h2 class="magenta">Sponsors</h2>
    <div class="col-md-6 col-md-offset-3">
      <a href="http://www.seaif.org/" target="_blank">
        <img src="img/sponsors/seattle_foundation.png" class="img-responsive center-block mt1">
      </a>
    </div>
  </div>
</section>

<section class="center bg-grey">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h2>Don't miss the opportunity to make an impact</h2>
      <a href="https://www.eventbrite.com/e/antigua-10x-festival-tickets-26404332068"
      class="button button-primary mt2" target="_blank">Get Tickets Now</a>
    </div>
  </div>
</section>
