<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Plain Description -->
  <title>{{ site.title }}</title>
  <meta name="description" content="{% if page.excerpt %}{{page.excerpt}}{% else %}{{site.tagline}}{% endif %}">
  <meta name="google-site-verification" content="Y9NMXW1fap6s-_o17SBULWOaFMVdiHWOQpJ3-DAa9-Q" />

  <!-- CSS & fonts -->
  <link rel="stylesheet" href="css/app.css">

  <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
