<section id="schedule" class="center bg-white">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="magenta mb2">Horario 2016</h2>
      <p>Nota: Habrán shuttles gratis del Parque Central a AIS durante todo el día para todos los participantes.</p>
      <ul class="nav nav-tabs mt2" role="tablist">
        <li role="presentation" class="active"><a href="#thursday" aria-controls="home" role="tab" data-toggle="tab">Jueves 17 de Nov</a></li>
        <li role="presentation"><a href="#friday" aria-controls="profile" role="tab" data-toggle="tab">Viernes 18 de Nov</a></li>
        <li role="presentation"><a href="#saturday" aria-controls="messages" role="tab" data-toggle="tab">Sábado 19 de Nov</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="thursday">
          <div class="table-responsive">
          <table class="table">
            <tr>
              <th>7:00pm - 9:00pm</th>
              <th>Coctel de Bienvenida en el Parque Central</th>
            </tr>
            <tr>
              <th>9:00pm - 12:00am</th>
              <th>Festividades</th>
            </tr>
          </table>
        </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="friday">
          <div class="table-responsive">
            <table class="table">
              <tr>
                <th>8:00am - 9:00am</th>
                <th>Registro en AIS</th>
              </tr>
              <tr>
                <th>9:00am - 9:40am</th>
                <th>Bienvenida en amfiteatro de AIS<br>
                  <span class="small">Alcaldesa Susana Asensio y Directora de Antigua10x Christine Wilson</span>
                </th>
              </tr>
              <tr>
                <th>9:40am - 10:00am</th>
                <th>'Lightning Talks' en AIS<br>
                  <span class='small'>Hitendra Patel/Barbara Oakley/Bernardo Herrera</span>
                </th>
              </tr>
              <tr>
                <th>11:00am - 11:30am</th>
                <th>Coffee Break</th>
              </tr>
              <tr>
                <th>11:35am - 12:30pm</th>
                <th>Paneles en AIS<br>
                  <span class='small'>Educación, Negocios, Alianzas públicas-privadas</span>
                </th>
              </tr>
              <tr>
                <th>12:30pm - 2:00pm</th>
                <th>Almuerzo</th>
              </tr>
              <tr>
                <th>3:00pm - 4:00pm</th>
                <th>Tallers en El Jaulón
                  <ul class="small">
                    <li>WS1: ¿Puede la región de Antigua se líder en  la agricultura?</li>
                    <li>WS2: 10X en estilo y textiles?</li>
                  </ul>
                </th>
              </tr>
              <tr>
                <th>5:00pm - 12:00am</th>
                <th>Fesitividades<br>
                  <span class="small">Visita los diferentes restaurantes y bares con ofertas para participantes del Festival!</span>
                </th>
              </tr>
            </table>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="saturday">
            <div class="table-responsive">
              <table class="table">
              <tr>
                <th>9:00am - 4:00pm</th>
                <th>"Make a Match" - El Jaulón</th>
              </tr>
              <tr>
                <th>9:00am - 10:00am</th>
                <th>Talleres
                  <ul class="small">
                    <li>WS1: Taller Safe Cities - El Jaulón</li>
                    <li>WS2: Taller Impacto Social - El Jaulón</li>
                    <li>WS3: Startup Pitches 1 - Impact Hub</li>
                  </ul>
                </th>
              </tr>
              <tr>
                <th>10:00am - 10:45am</th>
                <th>Almuerzo</th>
              </tr>
              <tr>
                <th>11:00am - 12:00pm</th>
                <th>Talleres en Impact Hub
                  <ul class="small">
                    <li>WS4: Taller Antiguaton Valley - El Jaulón</li>
                    <li>WS5: Taller Lifestyle - Impact Hub</li>
                    <li>WS6: Startup Pitches 2 - Impact Hub</li>
                  </ul>
                </th>
              </tr>
              <tr>
                <th>12:15pm - 1:15pm</th>
                <th>Talleres en Impact Hub
                  <ul class="small">
                    <li>WS7: Taller Inovación en Tursimo - El Jaulón</li>
                    <li>WS8: Taller Market Opportunties - Impact Hub</li>
                    <li>WS9: Startup Pitches 3 - Impact Hub</li>
                  </ul>
                </th>
              </tr>
              <tr>
                <th>1:15pm - 2:00pm</th>
                <th>Almuerzo</th>
              </tr>
              <tr>
                <th>2:00pm - 4:30pm</th>
                <th>Tours
                  <ul class="small">
                    <li>Antigua Cerveza</li>
                    <li>Casa Museo Palacios</li>
                    <li>Ecofiltro</li>
                    <li>Finca La Azotea</li>
                  </ul>
                </th>
              </tr>
              <tr>
                <th>7:00pm - 12:00am</th>
                <th>Fiesta de Cierre en Villa Paquita</th>
              </tr>
            </table>
          </div>
        </div> <!--End tab panel -->
        <div class="center">
        <a href="paneles.html"
        class="button button-secondary mt2">Ver detalles de Paneles y Talleres</a>
        </div>
      </div>
    </div>
  </div><!-- Container -->
</section>
