<section id="schedule" class="center bg-white">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="magenta mb2">2016 Schedule</h2>
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#thursday" aria-controls="home" role="tab" data-toggle="tab">Jueves 17 de Nov</a></li>
        <li role="presentation"><a href="#friday" aria-controls="profile" role="tab" data-toggle="tab">Viernes 18 de Nov</a></li>
        <li role="presentation"><a href="#saturday" aria-controls="messages" role="tab" data-toggle="tab">Sábado 19 de Nov</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="thursday">
          <div class="table-responsive">
          <table class="table">
            <tr>
              <th>7:00pm - 8:00pm</th>
              <th>Fiesta de Ignauración en el Parque Central</th>
            </tr>
            <tr>
              <th>8:00pm - 12:00am</th>
              <th>Festividades</th>
            </tr>
          </table>
        </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="friday">
          <div class="table-responsive">
            <table class="table">
              <tr>
                <th>9:00am - 10:00am</th>
                <th>Registro en AIS</th>
              </tr>
              <tr>
                <th>10:00am - 10:15am</th>
                <th>Bienvenida en amfiteatro de AIS</th>
              </tr>
              <tr>
                <th>10:15am - 11:15am</th>
                <th>'Lightning Talks' en AIS<br>
                  <span class='small'>Hitendra Patel/Barbara Oakley/Bernardo Herrera</span>
                </th>
              </tr>
              <tr>
                <th>11:15am - 11:30am</th>
                <th>Descanso & Café</th>
              </tr>
              <tr>
                <th>11:30am - 1:00pm</th>
                <th>Paneles en AIS<br>
                  <span class='small'>Educación, Negocios, Alianzas públicas-privadas</span>
                </th>
              </tr>
              <tr>
                <th>1:00pm - 2:00pm</th>
                <th>Almuerzo</th>
              </tr>
              <tr>
                <th>3:00pm - 5:00pm</th>
                <th>Tallers en Impact Hub
                  <ul class="small">
                    <li>WS1: ¿Puede la región de Antigua se líder en  la agricultura?</li>
                    <li>WS2: 10X en estilo y textiles?</li>
                  </ul>
                </th>
              </tr>
              <tr>
                <th>5:00pm - 12:00am</th>
                <th>Fesitividades</th>
              </tr>
            </table>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="saturday">
            <div class="table-responsive">
              <table class="table">
              <tr>
                <th>9:00am - 1:00pm</th>
                <th>Talleres en Impact Hub
                  <ul class="small">
                    <li>WS1: Inovación en Turismo</li>
                    <li>WS2: Antiguaton Valley, Tech</li>
                    <li>WS3: Impacto social</li>
                    <li>WS4: Antigua: Calidad de Vida</li>
                    <li>WS5: Ciudades Seguras</li>
                    <li>WS6: Startup Pitches</li>
                  </ul>
                </th>
              </tr>
              <tr>
                <th>1:00pm - 2:00pm</th>
                <th>Almuerzo</th>
              </tr>
              <tr>
                <th>2:00pm - 6:00pm</th>
                <th>Visitas alrededor de Antigua
                  <ul class="small">
                    <li>Finca de Café</li>
                    <li>Casa Palacios Museum</li>
                    <li>Ecofiltro</li>
                    <li>Micro Brewery</li>
                  </ul>
                </th>
              </tr>
              <tr>
                <th>6:00pm - 12:00am</th>
                <th>Fiesta de despedida</th>
              </tr>
            </table>
          </div>
        </div> <!--End tab panel -->
      </div>
    </div>
  </div><!-- Container -->
</section>
