<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="img/logow.png" class="img-responsive" alt="logo">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a data-scroll href="#about">About</a></li>
        <li><a data-scroll href="#speakers">Speakers</a></li>
        <li><a data-scroll href="#schedule">Schedule</a></li>
        <li><a data-scroll href="#challenge">Challenge</a></li>
        <li><a href="espanol.html">Español</a></li>
        <li><a href="mailto:info@antigua10x.com">Contact Us</a></li>
        <li><a href="https://www.eventbrite.com/e/antigua-10x-festival-tickets-26404332068"
               class="button button-transparent" target="_blank">
                Get Tickets
            </a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- row -->
</nav>
