<section id="schedule" class="center bg-white">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="magenta mb2">2016 Schedule</h2>
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#thursday" aria-controls="home" role="tab" data-toggle="tab">Thursday, Nov 17</a></li>
        <li role="presentation"><a href="#friday" aria-controls="profile" role="tab" data-toggle="tab">Friday, Nov 18</a></li>
        <li role="presentation"><a href="#saturday" aria-controls="messages" role="tab" data-toggle="tab">Saturday, Nov 19</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="thursday">
          <div class="table-responsive">
          <table class="table">
            <tr>
              <th>7:00pm - 8:00pm</th>
              <th>Kick-Off @ Central Park</th>
            </tr>
            <tr>
              <th>8:00pm - 12:00am</th>
              <th>Night Festivities Pass</th>
            </tr>
          </table>
        </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="friday">
          <div class="table-responsive">
            <table class="table">
              <tr>
                <th>9:00am - 10:00am</th>
                <th>Registration @ AIS</th>
              </tr>
              <tr>
                <th>10:00am - 10:15am</th>
                <th>Welcome Words @ AIS amphitheatre</th>
              </tr>
              <tr>
                <th>10:15am - 11:15am</th>
                <th>Lightning Talks @ AIS<br>
                  <span class='small'>Hitendra Patel/Barbara Oakley/Bernardo Herrera</span>
                </th>
              </tr>
              <tr>
                <th>11:15am - 11:30am</th>
                <th>Coffee Break</th>
              </tr>
              <tr>
                <th>11:30am - 1:00pm</th>
                <th>Panel Conferences @ AIS<br>
                  <span class='small'>Education, Business, Public-Private Partnerships</span>
                </th>
              </tr>
              <tr>
                <th>1:00pm - 2:00pm</th>
                <th>Lunch</th>
              </tr>
              <tr>
                <th>3:00pm - 5:00pm</th>
                <th>Workshops at Impact Hub
                  <ul class="small">
                    <li>WS1: Can the Antigua region lead in Agriculture?</li>
                    <li>WS2: 10X in Style and Textiles?</li>
                  </ul>
                </th>
              </tr>
              <tr>
                <th>5:00pm - 12:00am</th>
                <th>Night Festivities</th>
              </tr>
            </table>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="saturday">
            <div class="table-responsive">
              <table class="table">
              <tr>
                <th>9:00am - 1:00pm</th>
                <th>Workshops at Impact Hub
                  <ul class="small">
                    <li>WS1: Innovation in Toursim</li>
                    <li>WS2: Silicon Antigua: A 10x with tech</li>
                    <li>WS3: Sustainable Social Impact</li>
                    <li>WS4: Antigua Lifestyle: 10x in living</li>
                    <li>WS5: Start-Up pitches</li>
                    <li>WS6: 10x Challenge Winner Workshops</li>
                  </ul>
                </th>
              </tr>
              <tr>
                <th>1:00pm - 2:00pm</th>
                <th>Lunch</th>
              </tr>
              <tr>
                <th>2:00pm - 6:00pm</th>
                <th>Site Visit
                  <ul class="small">
                    <li>Coffee Farm</li>
                    <li>Casa Palacios Museum</li>
                    <li>Ecofiltro</li>
                    <li>Micro Brewery</li>
                  </ul>
                </th>
              </tr>
              <tr>
                <th>6:00pm - 12:00am</th>
                <th>Farewell Party</th>
              </tr>
            </table>
          </div>
        </div> <!--End tab panel -->
        <div class="center">
        <a href="panels.html"
        class="button button-secondary mt2">View Panel and Conference Details</a>
        </div>
      </div>
    </div>
  </div><!-- Container -->
</section>
