<div class="modal fade center" id="speakerModal" tabindex="-1" role="dialog" aria-labelledby="speakerModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-magenta">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <img id="speakerPhoto" src="" alt="">
        <h4 class="modal-title" id="speakerName">Speaker Name</h4>
      </div>
      <div class="modal-body">
        <p id="speakerBio">Bio</p>
      </div>
    </div>
  </div>
</div>
