<section id="partners" class="center bg-white">
  <div class="container">
    <h2 class="magenta">Alianzas</h2>
    <div class="row">
      <div class="col-sm-4">
        <a href="http://www.antiguais.org/" target="_blank">
          <img src="img/ais-logo.jpg" class="img-responsive center-block">
        </a>
      </div>
      <div class="col-sm-4">
        <a href="http://www.guatemala.com/" target="_blank">
          <img src="img/guatemala-logo.jpg" class="img-responsive center-block mt1">
        </a>
      </div>
      <div class="col-sm-4">
        <a href="http://gt.gew.co/" target="_blank">
          <img src="img/gew.jpg" class="img-responsive center-block mt1">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5 col-sm-offset-1">
        <a href="http://www.casadelarcoantigua.com/" target="_blank">
          <img src="img/casa-arco.jpg" class="img-responsive center-block mt1">
        </a>
      </div>
      <div class="col-sm-5">
        <a href="http://www.funpanchoy.com/" target="_blank">
          <img src="img/funpanchoy.jpg" class="img-responsive center-block mt1">
        </a>
      </div>
    </div>
  </div>

  <hr class="m3">

  <div class="container">
    <h2 class="magenta">Patrocinadores</h2>
    <div class="row m2">
      <div class="col-md-8 col-md-offset-2">
        <a href="http://www.cerveceriacentroamericana.com/cervezas/" target="_blank">
          <img src="img/sponsors/monte_carlo.jpg" class="img-responsive center-block mt1 medium">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <a href="http://www.seaif.org/" target="_blank">
          <img src="img/sponsors/seattle_foundation.jpg" class="img-responsive center-block mt1 medium">
        </a>
      </div>
      <div class="col-md-3">
        <a href="http://www.perspectiva.com.gt/" target="_blank">
          <img src="img/sponsors/perspectiva.jpg" class="img-responsive center-block mt1 medium">
        </a>
      </div>
      <div class="col-md-3">
        <a href="http://www.manzanamarketing.net/" target="_blank">
          <img src="img/sponsors/manzana_marketing.jpg" class="img-responsive center-block mt1 medium">
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://www.gustavomolina.com/" target="_blank">
          <img src="img/sponsors/gustavo_molina.jpg" class="img-responsive center-block mt1 medium">
        </a>
      </div>
    </div>
  </div>
</section>
