.button, .button-primary, .button-secondary {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: auto;
    padding: 12px 15px;
    margin: 0;
    font-size: 1.1rem;
    font-weight: 500;
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    border: none;
    border-radius: 0;
    background-color: #146ee1;
}

.button.big {
  padding: 1rem 2.5rem;
  font-size: 1.25rem;
}

.button-grey {
  background-color: #999;
  margin-bottom: 10px;
  &:hover {
    background-color: #999;
  }
}

.button-primary, a.button-primary {
  color: white;
  background-color: $black;
}

.disabled:hover, .disabled:focus {
  color: white;
  text-decoration: none;
}

.social-media {
  position: absolute;
  right: 1rem;
  top: 32px;

  @media(max-width: 767px) {
    margin: 5px 0;
  }

  .social-media-button {
    max-height: 1.2rem;
    margin: 2px;
    @media(max-width: 767px) {
      display: inline-block;
    }
  }
}
