.button {
  display: inline-block;
  margin-bottom: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid;
  text-align: center;
  vertical-align: middle;
  line-height: 1.43;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    text-decoration: none;
  }
}

.button-primary {
  background-color: $magenta;
  color: white;
  font-size: 1.25rem;
  padding: 1rem 3rem;
  &:hover {
    text-decoration: none;
    color: white;
    background-color: lighten($magenta, 5%);
  }
}
