footer {
  padding: 5px 0;

  &.fixed-to-bottom {
    @media (min-width: 768px) {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }

  a, p {
    font-size: 0.9rem;
    margin: 0.25rem;
  }
  @media (min-width: 768px) {
    .right {
      float: right;
    }
  }

  @media (max-width: 767px) {
    height: 100px;
    &.fixed-to-bottom { height: 100px; }

    .left, .right {
      text-align: center;
    }
    a, p {
      display: block;
    }
  }
}
