footer {
  padding: 2rem 0;

  a, p {
    margin: 0.25rem;
  }
  
  @media (min-width: 768px) {
    .right {
      float: right;
    }
  }

  @media (max-width: 767px) {
    height: 100px;
    &.fixed-to-bottom { height: 100px; }

    .left, .right {
      text-align: center;
    }
    a, p {
      display: block;
    }
  }
}
